.gallery-wrapper{
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    margin-top: 1rem;
}

.gallery-content{
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.gallery-img-container{
    width: 200px;
    height: 280px;
    margin: auto;
}
.gallery-img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}


@media screen and (max-width:500px) {
    .gallery-wrapper{
        padding: 0.2rem;
    }
    .gallery-content{
        gap: 1rem;
    }
}
/* --------------------------- */
@media screen and (max-width:500px){
    .phone-heading{
        font-size: 1.2rem;
    }
    .about-img-container{
        width: 350px;
    }
    .about-img-container img{
        width: 100%;
    }
    .history-img-container{
        width: 350px;
    }
    .history-img-container img{
        width: 100%;
    }
    .about-description p{
        padding: 0.5rem;
    }
    .history-description p{
        padding: 0.5rem;
    }
    .route-details p{
        font-size: 3rem;
    }
    .gallery-img-container{
        width: 300px;
        height: 400px;
    }
    .donate-img-container{
        width: 350px;
    }
    .donate-img-container img{
        width: 100%;
    }
    .nav{
        padding: 0.5rem;
    }
    .nav-wrapper{
        padding: 0.5rem;
    }
}
/* ------------------------------------------ */