.nav-wrapper{
    max-width: 1280px;
    margin: 0 auto;
    padding: 1rem;
    position: sticky;
    top: 0px;
    z-index: 1;
}

:root {
    --bs-text-primary-color: #ff4d00;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: beige;
    padding: 1rem 2rem;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(139, 69, 19, 0.4);
}

.nav-img-container{
    width: 120px;
}
.nav-img-container img{
    width: 100%;
    height: 100%;
    animation: round 10s linear 100ms infinite;
}
.nav-list{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1.2rem;
}
.nav-link{
    border: none;
    border-radius: 10px;
    padding: 1rem;
    background-color: #fc6a03;
    font-size: 1.2rem;
    color: white;
    font-weight: 800;
    cursor: pointer;
    transition: all 0.1s ease;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 4px 6px rgba(139, 69, 19, 0.4);
}

.nav-link:hover{
    background-color: #dd571c;
}
.nav-link:active{
    transform: scale(0.85);
}
@keyframes round{
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@keyframes slideFromRight{
    from{
        right: -200px;
    }
    to{
        right: 0px;
    }
}

.hamburger {
    display: none;
    cursor: pointer;
}
.hamburger div {
    width: 25px;
    height: 3px;
    background-color: var(--bs-text-primary-color);
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 1000px){
    .nav-img-container{
        width: 70px;
    }
    .phone-heading{
        display: block !important;
        font-family: "AMS Kashi", sans-serif;
    }
    .nav-list{
        display: none;
        position: absolute;
        right: 0;
        top: 100px;
        width: 200px;
        background-color: black;
        border-radius: 10px;
        z-index: 1;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
        padding: 20px;
    }
    li{
        position: relative;
        width: 100%;
    }
    .nav-link{
        width: 100%;
    }
    .nav-list.hamburger-active{
        display: flex;
        animation: slideFromRight 0.3s ease-out forwards;
    }
    .hamburger{
        display: block;
        border: 1px solid var(--bs-text-primary-color);
        padding: 0.2rem;
        border-radius: 5px;
    }
}

.hamburger.hamburger-active div:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.hamburger.hamburger-active div:nth-child(2) {
opacity: 0;
}

.hamburger.hamburger-active div:nth-child(3) {
transform: rotate(45deg) translate(-5px, -6px);
}

/* --------------------------------------------------------------------------------------------------- */